<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Add New Farm</h1>
    <form action="/farms" method="post">

        <div class="">
            <label for="name">Farm Name</label>
             <input type="text" name="name" id="name" placeholder="Farm Name"><br>
        </div>

        <div class="">
            <label for="city">City</label>
            <input type="text" name="city" id="city" placeholder="City"><br>
        </div>

        <div class="">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="Email"><br>
        </div>

         </br>

        <button type="submit">Submit</button>
    </form>




</body>
</html>